numpy
pandas
skimage
napari[all]
git+https://github.com/quasar1357/dino_paint.git
git+https://github.com/guiwitz/napari-convpaint.git
--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision

